@charset "utf-8";

/* ------------------------------------------
|   host_공실관리
------------------------------------------- */

/* 전체박스 1 #root */
body, #root {
    height: 100%;
}

/* 전체박스 2 .box */
.box {
    width: 100%;
    min-width: 1440px;
}


/* ------------------------------------------
|   Content
------------------------------------------- */
    /* 콘텐츠 전체 박스 */
    .content-box {
        width: 1080px;
        padding-top: 74px;
        margin: 0px auto;
    }

    /* 글자 박스 */
    .title-box {
        height: 40px;
        margin-top: 70px;
    }

    /* "공실관리" 글자 */
    .title-h1 {
        color: #222222;
        font-size: 40px;
    }

    /* 몇 건의 공실이 있습니다 전체박스 */
    .isroom-div {
        position: relative;
        margin-top: 60px;
        height: 41px;
        padding: 7px 0px;
    }

    .isroom-p1 {
        float: left;
        height: 26px;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        color: rgb(102, 102, 102);
    }

    .isroom-p1 > span {
        color: rgb(67, 131, 255);
    }

    .isroom-p2 {
        float: right;
        margin-right: 145px;
        font-size: 16px;
        line-height: 26px;
        color: rgb(102, 102, 102);
    }

    /* dropdown closed */
    .isroom-dropdown-closed {
        z-index: 10;
        user-select: none;
        width: 135px;
        background-color: rgb(255, 255, 255);
        color: rgb(102, 102, 102);
        font-size: 15px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        padding: 10px 0px 10px 15px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(211, 211, 211);
        border-image: initial;
        border-radius: 3px;
    }

    /*  */
    .isroom-div ul {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    /*  */
    .isroom-dropdown-closed li {
        display: none;
    }

    .isroom-dropdown-closed li:first-child {
        display: block;
    }

    .isroom-dropdown-opened svg, .isroom-dropdown-closed svg {
    position: absolute;
    top: 50%;
    right: 15px;	
    transform: translateY(-50%);
}

    /* dropdown opened */
    .isroom-dropdown-opened {
        z-index: 10;
        user-select: none;
        width: 135px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(211, 211, 211);
        border-image: initial;
        border-radius: 3px;
    }

    .isroom-dropdown-opened li {
        color: rgb(102, 102, 102);
        font-size: 15px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        padding: 10px 0px 10px 15px;
    }

    .isroom-dropdown-li {
        font-weight: 700 !important;
        color: rgb(67, 131, 255) !important;
    }

    .isroom-dropdown-li2 {
        font-weight: 400;
        color: rgb(102, 102, 102);
    }

    /* table */

    .container {
        margin-top: 30px;
        width: 1080px;
        padding: 0;
    }

    td { 
        vertical-align: middle !important   ;
    }

    .table-span1 {
        color : rgb(41, 128, 185);
        font-size: 17px;
        font-weight: 550;
    }

    .table-span1-1 {
        color: #333333;
        font-size: 17px;
        font-weight: 550;
    }

    .table-span2{
        color: #333333;
        font-size: 12px;
    }

    .table-div > span {
        margin-left: 25px; 
    }

