<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HeartMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="heartMap"
		type="project.star.b2.model.Heart">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="heartno" column="heartno" />
		<result property="roomno" column="roomno" />
		<result property="regdate" column="regdate" />
		<result property="editdate" column="editdate" />
		<result property="userno" column="userno" />
	</resultMap>
	
	<!-- 찜목록을 보여주기 위한 기능 정의 -->
    <select id="selectHeartList" parameterType="project.star.b2.model.Heart" resultMap="heartMap">
	SELECT
	heartno, roomno, userno
	FROM heart
	<where>
		<if test="userno != 0 and userno != null">userno=#{userno}</if>
	</where>
	</select>
	
	<!-- 데이터 삭제을 위한 기능 정의 -->
    <delete id="deleteItem"
        parameterType="project.star.b2.model.Heart">
        DELETE FROM heart WHERE userno=#{userno} and roomno=#{roomno};
    </delete>

</mapper>