@charset "utf-8";
p { margin: 0; }

/* 전체 모달 창 */
.wholething {
	width: 610px;
	border: none;
	border-radius: 0;
	margin: 4% auto 0;
}

/** 모달창 위치 */
.modaltop {
	margin: 60px auto;
}

/** 모달 헤더 text */
.modal-header .modal-title {
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
}

/** 닫는 버튼 동그라미로 */
.radius {
	border-radius: 50%;
	border: 1px black; 
	background-color: #fff;
}

/* 내용부분 */
.padding {
	padding: 30px 30px 20px 30px;
	margin: 0;
}

/** 입력 폼 큰 단위 */
.information {
	width: 550px;
	height: 46px;
}

.information2 {
	margin-top: 20px;
}

/* 좌측 입력목록 제목 */
p.subtitle {
	display: block;
	width: 100px;
	height: 45px;
	float: left;
	line-height: 45px;
}

.input1 {
	height: 46px;
	display: block;
	float: left;
	padding: 0 15px;
}

.select1 {
	display: block;
	float: left;
	height: 46px;
	padding: 0 15px;
}

/* 이름, 비밀번호, 비밀번호 확인 */
.full-wid { width: 450px; }

/* 이메일 */
.information .email {
	display: block;
	float: left;
	width: 106px;
}

.information .select-email {
	width: 190px;
}

/* 휴대폰 번호 */
.pin { width: 134px; }

/* @, - */
.wid {
	float: left;
	width: 24px;
	line-height: 46px;
	text-align: center;
}

/* 인증번호 버튼 */
.btn-color {
	color: #1564f9;
	border: 1px solid #3185f8;
	background-color: white;
	width: 120px;
	border-radius: 0;
	height: 46px;
	margin-left: 10px;
}

.btn-color:hover { color: #1564f9; }

.number { width: 320px; }

/* 회원가입 버튼 */
.btn-colordown {
	color: white;
	background-color: #1a5ae8;
}

.btn-colordown:hover {
	color: white;
}

.joinbutton {
	width: 100%;
	height: 45px;
	border-radius: 0;
}

/** 회원가입 높이 */
.hheader {
	height: 60px;
	margin-top: 12px;
	padding: 15px 15px 15px 30px;
}

.buttontlzl {
	margin-top: 0px;
	height: 60px;
	width: 100%;
}

/* 이용약관 */
.p {
	margin-top: 20px;
	width: 100%;
	font-size: 13px;
}