@charset "utf-8";

/** a태그 속성 정의 */
a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}

/** content의 가로폭 정의 */

#content { min-width: 1200px; }

#content > div {
	width: 1200px;
	margin: auto;
}

/** 상단 검색바 및 버튼들 위치 정의 */
#content .adm-header {
	height: 80px;
	margin-bottom: 15px;
}

#content h1 { 
	float: left; 
	font-size: 30px;
}

#content .adm {	float: right; }

#content .adm > div { padding-top: 10px; }

#content .input-group {	width: 300px; }

/** hidden text 정의 */
.tab-panel {
	width: auto;
	border-top: 2px solid black;
}

/** 표 속성 정의 */

td {
	text-align: center;
}