@charset "utf-8";

/*****************************************
*	찜한방	
*****************************************/


/* 공통 부분 */

html body #root {
	width: 100%;
}

.parent-box {
	width: 100%;
    min-width: 1366px;
    height: 100%;
    position: relative;
}

/* ---------------------------------------
| content1 - <타이틀 바>
---------------------------------------- */

.content1-title {
	height: 53px;
	margin-top: 70px;
	color: #222222;
	font-size: 34px;
	font-weight: 400;
	text-align: center;
}

/* ---------------------------------------
| content2 - <네비게이션>
---------------------------------------- */

/* content2 전체박스 */
.content2-d {
	display: table;
	height: 40px;
	width: 1180px;
	margin: 45px auto 0;
	border-bottom: 1px solid #eee;

}

/* div - a 하위 목록 */
.content2-d-a {
	display: table-cell;
    width: 50%;
    color: rgb(136, 136, 136);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

/* active 신기하게쓰네 */
.content2-d-a.active{
	color: rgb(34, 34, 34);
    font-weight: 500;
    border-bottom: 2px solid rgb(34, 34, 34);
}

/*****************************************
* content3- <main 갤러리>
*****************************************/

/* 전체박스 */
.gallery-wholebox {
	width: 1180px;
	min-height: 500px;
	padding-top: 50px;
	margin: 0 auto;	
}

/* div (총 n개의 최근본 방이 있습니다.) */
/* div 안에 <p>태그 */
.count-p {
	height: 24px;
	line-height: 24px;
	font-size: 15px;
	color: #666666;
	text-align: left;
	margin-bottom: 20px;
}

.count-p span {
	color: #1564F9;
}

/* ---------------------------------------
|	content3-갤러리
---------------------------------------- */
/* ---------------------------------------
|	완료된 매물
---------------------------------------- */

/* 거래완료 *//* 비공개 부모 박스 */
/* 비공개 거래완료 부모박스 같음 */

/* 큰부모 박스 */
/* 매물 하나 전체를 흐릿하게 만듬 */
.complete-whcover {
	width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    overflow: hidden;
}

/* 작은부모 박스 */
.complete-smcover {
	display: table-cell;
    width: 280px;
    height: 186px;
    box-shadow: rgba(16, 25, 42, 0.1) 0px 1px 5px 0px;
    background-color: rgba(255, 255, 255, 0.6);
    vertical-align: middle;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(96, 163, 255);
    border-image: initial;
    border-radius: 3px;
}

.complete-h1 {
	height: 18px;
    margin-bottom: 8px;
    color: rgb(49, 133, 248);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.complete-p {
	height: 20px;
    color: rgb(49, 133, 248);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.complete-plusbtn {
	width: 35px;
    height: 35px;
    margin: 15px auto 0px;
    background: url(ma_img/plusbtn.svg) center center / cover no-repeat;
}


/* ---------------------------------------
| content3-갤러리 메인 시작하기
---------------------------------------- */

/* 메인갤러리 시작 */
.gallery-ul {
	width: 100%;
	min-height: 321px;
}

/* 각 박스의 마진 */
.gallery-li {
	position: relative;
	float: left;
	width: 280px;
	height: 321px;
	margin-bottom: 60px;
	background-color: white;
	border-radius: 5px;	
}

.gallery-li + .gallery-li {
	margin-left: 20px;
}

.gallery-li:nth-child(4n+1) {
    margin-left: 0px;
}

/* 각 박스의 부모박스 */

.gallery-d1 {
	height: 321px;
	position: relative;
}

/* 각 박스 링크 */
.gallery-d1-a{
	display: block;
}

/* 사진 담는 박스 */
.gallery-d2-pic{
	width: 100%;
    height: 186px;
    margin-bottom: 12px;
    background-color: rgb(239, 240, 242);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

/* height 100%를 줘야 함 */
.gallery-d2-pic:before {
	content: "";
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    background: url(ma_img/comp1.jpeg) center center / cover no-repeat;
}

.gallery-d2-pic:after {
	content: "";
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}


/* 확인매물 박스 */
.gallery-d2-confirm {
	height: 21px;
	margin-bottom: 3px;
}

/* 확인매물 내부 박스 */
.gallery-d3-confirm {
	display: inline-block;
	height: 21px;
	line-height: 19px;
	vertical-align: top;
	padding: 0 5px;
	border-width: 1px;
    border-style: solid;
    border-color: rgb(168, 193, 252);
    border-image: initial;
    border-radius: 2px;
}

.gallery-d3-confirm > span {
	font-weight: 700;
}

.gallery-d3-confirm > span, .gallery-d3-confirm > font {
    display: inline-block;
    color: rgb(50, 108, 249);
    font-size: 11px;
    white-space: nowrap;
    position: relative;
    bottom: 2px;
}

/* 확인매물 아래 - 룸 타입 p1 */
.gallery-p1 {
	font-size: 13px !important;
	font-weight: 400 !important;
}

.gallery-p2 {
	color: rgb(34, 34, 34);
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin: 3px 0px 6px;
}

.gallery-p2 > span {
	vertical-align: middle;
	font-size: 20px;
}

.gallery-p-common {
	width: 100%;
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

/* button - heart */
.gallery-heart-d2 {
	width: 36px;
    position: absolute;
    top: 3px;
    right: 7px;
    z-index: 1;
    cursor: pointer;
}

.gallery-heart-d3 {
	width: 32px;
    height: 30px;
    margin: 0px auto;
    background: url(ma_img/fullheart.svg) center center / cover;
}







/* ---------------------------------------
| content - page
---------------------------------------- */

.page-d1 {
	padding-bottom: 150px;
}

.page-d1 > div {
	padding-top: 20px;
}

.page-d2 {
	text-align: center;
}

.page-d3 {
	display: inline-block;
    height: 32px;
}

.page-d3-btn1 {
	float: left;
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0px;
    margin: 0px 18px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-image: initial;
    border-radius: 50%;
}

.page-d3-btn1 > svg {
	left: 49%;
}

.page-d3-ul {
	float: left;
}

.page-d3-ul > li + li {
    margin-left: 10px;
}

.page-d3-btn2{
	float: left;
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 0px;
    margin: 0px 18px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-image: initial;
    border-radius: 50%;
}

.page-d3-ul li {
	display: inline-table;
    width: 32px;
    height: 32px;
}

.page-ul-a-clicked {
	display: table-cell;
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 118, 252);
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 50%;
    border-color: rgb(20, 118, 252);
}

.page-ul-a-clicked:hover {
	color: white;
}

.page-ul-a-unclicked {
	display: table-cell;
    width: 100%;
    height: 100%;
    color: rgb(20, 118, 252);
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 50%;

}

.page-ul-a-unclicked:hover {
    border-color: rgb(20, 118, 252);
}



/* ---------------------------------------
| content - button to compare
---------------------------------------- */

/* 비교하기 버튼 */
.btn-compare {
	width: 140px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    box-shadow: rgba(6, 68, 192, 0.82) 0px 15px 30px -14px;
    background-color: rgb(6, 73, 192);
    position: fixed;
    right: 30px;
    z-index: 10;
    bottom: 280px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 30px;
}

/* 비교하기 전체 박스 1번째 부모 - 마진 */
.compare-d1 {
	width: 100%;
    min-width: 1366px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -1px 6px 0px;
    background-color: rgb(24, 105, 216);
    position: fixed;
    bottom: 0px;
    z-index: 10;
    margin: 0px auto;
}

/* 비교하기 전체 박스 2번째 부모 - 테이블화 */
.compare-d2 {
	display: table;
    width: 1180px;
    height: 100%;
    margin: 0px auto;
}

/* 비교하기 바 - 버튼 맨앞 설명 */

.compare-exp-d3 {
	display: table-cell;
    width: 213px;
    padding-left: 0px;
    position: relative;
    vertical-align: middle;
}

/* 두번째 줄부터 왼쪽 라인 긋기 */
.compare-exp-d3 + div {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}


.compare-exp-p1 {
	height: 27px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.compare-exp-p2 {
	display: inline-block;
    height: 32px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    opacity: 0.6;
}

/* 비교하기 바 - 버튼 2,3,4 비교버튼 */

.compare-select {
	display: table-cell;
    width: 241px;
    padding-left: 16px;
    position: relative;
    vertical-align: middle;
}

.compare-select-d {
	display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
}

.compare-select-p {
	display: inline-block;
    height: 32px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    opacity: 0.6;
}

/* 버튼 - 취소하기 */


.compare-btn-box {
	display: table-cell;
    width: 238px;
    padding-left: 30px;
    position: relative;
    vertical-align: middle;
}

/* 취소하기버튼 */
.compare-btn-cancel { 
	width: 80px;
    height: 45px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 0px;
    background-color: rgb(24, 105, 216);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-image: initial; 
}

.compare-btn-compare {
	width: 120px;
    height: 45px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 2px 0px;
    background-color: rgb(24, 105, 216);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-image: initial;
}
