@charset "utf-8";

/* ------------------------------------------
|   host_공실관리
------------------------------------------- */

/* 전체박스 1 #root */
body, #root {
    height: 100%;
}

/* 전체박스 2 .box */
.box {
    width: 100%;
    min-width: 1440px;
}


/* ------------------------------------------
|   Content
------------------------------------------- */
    /* 콘텐츠 전체 박스 */
    .content-box {
        width: 1080px;
        padding-top: 0px;
        margin: 0px auto;
    }

    /* 글자 박스 */
    .title-box {
        height: 40px;
        margin-top: 70px;
    }

    /* "공실관리" 글자 */
    .title-h1 {
        color: #222222;
        font-size: 40px;
    }

    /* 작은 글자 전체박스 */
    .isroom-div {
        position: relative;
        margin-top: 30px;
        height: 41px;
        padding: 7px 0px;
    }
   
   /* ~건의 공실이 있습니다 <p>태그 */
    .isroom-p1 {
        float: left;
        height: 26px;
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: rgb(102, 102, 102);
    }

   /* 숫자 <span> 태그 */
    .isroom-p1 > span {
        color: rgb(67, 131, 255);
    }
   
   /* 공실상태 <p>태그 */
    .isroom-p2 {
        float: right;
        margin-right: 145px;
        font-size: 16px;
        line-height: 27px;
        color: rgb(102, 102, 102);
    }

    /* 드롭박스 설정 */
    .isroom-div > ul {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    
    /* 드롭다운 마우스오버시 꾸미기 설정 */
    .dropdn a:hover {
       color: rgb(67, 131, 255) !important;
       font-weight: 700 !important;
    }
    
    

    /* 
     * 드롭박스 닫혀있을 때 설정 
     */
    
    /* 드롭박스 ul 닫혀있을때 꾸며줄 class */
    .dropdown-closed {
        z-index: 10;
        user-select: none;
        width: 135px;
        background-color: rgb(255, 255, 255);
        color: rgb(102, 102, 102);
        font-size: 15px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
/*         padding: 10px 0px 10px 15px; */
        border-width: 1px;
        border-style: solid;
        border-color: rgb(211, 211, 211);
        border-image: initial;
        border-radius: 3px;
    }
    .dropdown-closed li {
        display: none;
    }

    .dropdown-closed li:first-child {
        display: block;
    }

    .dropdown-opened svg, .dropdown-closed svg {
    position: absolute;
    top: 50%;
    right: 15px;    
    transform: translateY(-50%);
}

    /* 
     * 드롭박스 열려있을 때 설정 
     */
    .dropdown-opened {
        z-index: 10;
        user-select: none;
        width: 135px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(211, 211, 211);
        border-image: initial;
        border-radius: 3px;
    }

    .dropdown-opened li {
       height: 50px;
        /* color: rgb(102, 102, 102); */
        font-size: 15px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        /* padding: 10px 0px 10px 15px; */
    }

    .dropdown-li {
        font-weight: 700 !important;
        color: rgb(67, 131, 255) !important;
    }

    .dropdown-li2 {
        font-weight: 400;
        color: rgb(102, 102, 102);
    }
    
    #dropdown > li > a {
       width: 100%;
       height: 100%;
       min-height: 20px;
       display: block;
       padding: 10px 0px 10px 15px;
       color: rgb(102, 102, 102);
    }

/* ------------------------------------------
|   table settings
------------------------------------------- */
    
    /* 테이블 담는 박스 */
    .contain {
        margin-top: 30px;
        width: 1080px;
        min-height: 650px;
        padding: 0;
    }
    
    th {
        background-color: #F8F8F8;
        border-top: 1px solid #000 !important;
    }
    
    
    /* td 세로 정렬하기 */
    td { 
        vertical-align: middle !important;
    }
    
    tr:last-child {
        border-bottom: 1px solid #000;
    }
    
    /*  */
    .table-span1 {
        color : rgb(41, 128, 185);
        font-size: 17px;
        font-weight: 550;
    }
    
    /*  */
    .table-span1-1 {
        color: #333333;
        font-size: 17px;
        font-weight: 550;
    }

    .table-span2{
        color: #333333;
        font-size: 12px;
    }

    .table-div > span {
        margin-left: 25px; 
    }


    .margin-bottom {
        margin-bottom: 80px;
    }
    
    .btn {
        
    }
    
    .changemode {
        display: block;
        width: auto;
    }
    
    
/* ------------------------------------------
|   Modal
------------------------------------------- */
    
    /* 모달창 위치 지정 */
    .modal-dialog {
        width: 420px !important;
        margin: 0 auto 0;
    }
    
    /* 내부전체박스 */
    .modal-whole-chmode {
        width: 420px;
        margin-top: 40%;
    }
    
    /* 모달창 타이틀 */
    .chmode-title {
        width: auto;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 19px;
        font-weight: 550;
    }
    
    /* 맨 아래 여백 */
    .chmode-div:last-child {
        margin-bottom: 30px;
    }
    
    /* 내부 div 박스 - 한줄 */
    .chmode-div {
        height: 50px;
        margin-top: 10px;
    }
    
    /* a태그 선택가능하도록 만들기 */
    .chmode-div > a {
            display: block;
            width: auto;
            height: 50px;
            cursor: pointer;
            
    }
    
    
    /* 한줄로 만들기 */
    .chmode-div span, .chmode-div p {
        display: block;
        float: left;
        
    }
        
    /* 왼쪽 네모 */
    .chmode-div span {
        width: 65px;
        height: 25px;
        line-height: 25px;
        margin: 12.5px 14px 12.5px 40px;
        background-color: rgb(52, 152, 219);
        text-align: center;
        font-size: 13px;
        color: white;
        border-radius: 5px;
    }
    
    /* 오른쪽 글씨 */
    .chmode-div p{
        line-height: 50px;
        color: #222;
    }
    
    /* 페이지네이션 구현*/
.gallery-index{
	width: fit-content;
    height: 32px;
    margin: auto;
}
.gallery-footer{
	padding-top: 40px;
    height: 180px;
    border-top: 1px solid #ddd;
    width:1180px;
    display:table;
    margin:auto;
}
 .gallery-index button {
     float: left;
     width: 32px;
     height: 32px;
     background-color: rgb(255, 255, 255); 
     position: relative;
     margin: 0px 18px;
     border-width: 1px;
     border-style: solid;
     border-color: rgb(170, 170, 170);
     border-image: initial;
     border-radius: 50%;
}
 .gallery-index button span {
     display: block;
     text-align: center;
     color: rgb(170, 170, 170);
     font-weight: bold;
}

/* 화살표 위치 조정 */
 .gallery-index .prev-btn span { margin-right: 2px; }
 .gallery-index .next-btn span { margin-left: 2px; }

 .gallery-index .index-list { float: left; }

/* 인덱스 각 버튼 정렬 */
 .gallery-index .index-list li {
     display: inline-table;
     width: 32px;
     height: 32px;
}

/* 인덱스 각 버튼 스타일*/
 .gallery-index .index-list li a {
     display: table-cell;
     width: 100%;
     height: 100%;
     font-size: 15px;
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     border: 1px solid rgba(255, 255, 255, 0);
     border-radius: 50%;
}
 .gallery-index .index-list li .index-indiv {
     color: rgb(20, 118, 252);
}

/* 인덱스 버튼 마우스 오버 */
 .gallery-index .index-list li .index-indiv:hover {
     border-color: rgb(20, 118, 252);
     text-decoration: none;
}

/* 인덱스 버튼 - 현재 페이지 */
 .gallery-index .index-list li .index-active {
     color: rgb(255, 255, 255);
     background-color: rgb(20, 118, 252);
     border-color: rgb(20, 118, 252);
     cursor: default;
 }