@charset "utf-8";

  /* ---------------------------------------
 / 상단 부분
  ---------------------------------------- */

/* head 부분 크기 설정 */
#header{
    min-height: 250px;
}

  /* ---------------------------------------
 / 본문 부분
  ---------------------------------------- */

/* title div 위치 크기 설정(절대값 기준) */
.title{
    position: absolute;
    width:350px;
    height:100px;
    left: 340px;
    top: 160px;
    border-bottom : solid 2px gray;
}
/* title 이미지 설정 */
.title > img{
    position: absolute;
    width : 100px;
}
/* title div 내 paragraph 위치 설정 */
.title > p {
    position: absolute;
    top: 16px;
    left: 100px;
    font-size:2em;
    margin-top: 40px;
}
/* 본문 크기 및 위치 설정 div 가운데 정렬 */
#content{
    width:1800px;
    text-align: center;
}
#content> .box{
width: 500px;
height:200px;
border-radius: 20px;
}
/* 부트스트랩 컴포넌트 사용으로 인한 버튼 추가 설정 */
#content > div >.btn-lg{
font-size: 30px;
line-height: 190px;
width:200px;
height: 200px;
margin : 80px;
background-color: #4383FF;
}