@charset "utf-8";

/** content와 감싸는 div 폭 결정*/
#content { min-width: 1200px; }

#content > div {
	width: 1200px;
	margin: auto;
}

/** h1 글씨 설정 */
#content .title {
	min-height: 60px;
	margin-bottom: 10px;
}

#content h1 { 
	text-align: left; 
	font-size: 30px;
}

/** 검색, 글쓰기, 삭제 버튼 위치 조정 */
#content .input-group {	
	width: 300px; 
	position: absolute;
}

#content .pull-right { float: right; }

#content .pull-right:after {
	content: ''; 
	display: table; 
	clear: both }
} 

