@charset "utf-8";

#content { min-width: 1200px; }

#content > div {
	width: 1200px;
	margin: auto;
}

#content .adm-header {
	height: 80px;
	margin-bottom: 15px;
}

#content h1 { 
	float: left; 
	font-size: 30px;
}

#content .adm {	float: right; }

#content .adm > div { padding-top: 10px; }

#content .input-group {	
	width: 300px;
	position: relative;
}

/* 검색바, 버튼들 우측 정렬 */
.input-group { float: right; }
.box { float: right; }

.adm-radio, .adm-btn { float: right; margin-top:3px; }

#content .adm-radio { line-height: 34px; margin-right: 10px; }

#content .adm-radio label { margin-right: 10px; }

/* 페이지네이션 구현*/
.gallery-index{
	width: fit-content;
    height: 32px;
    margin: auto;
}
.gallery-footer{
	padding-top: 40px;
    height: 180px;
    border-top: 1px solid #ddd;
    width:1180px;
    display:table;
    margin:auto;
}
 .gallery-index button {
     float: left;
     width: 32px;
     height: 32px;
     background-color: rgb(255, 255, 255); 
     position: relative;
     margin: 0px 18px;
     border-width: 1px;
     border-style: solid;
     border-color: rgb(170, 170, 170);
     border-image: initial;
     border-radius: 50%;
}
 .gallery-index button span {
     display: block;
     text-align: center;
     color: rgb(170, 170, 170);
     font-weight: bold;
}

/* 화살표 위치 조정 */
 .gallery-index .prev-btn span { margin-right: 2px; }
 .gallery-index .next-btn span { margin-left: 2px; }

 .gallery-index .index-list { float: left; }

/* 인덱스 각 버튼 정렬 */
 .gallery-index .index-list li {
     display: inline-table;
     width: 32px;
     height: 32px;
}

/* 인덱스 각 버튼 스타일*/
 .gallery-index .index-list li a {
     display: table-cell;
     width: 100%;
     height: 100%;
     font-size: 15px;
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     border: 1px solid rgba(255, 255, 255, 0);
     border-radius: 50%;
}
 .gallery-index .index-list li .index-indiv {
     color: rgb(20, 118, 252);
}

/* 인덱스 버튼 마우스 오버 */
 .gallery-index .index-list li .index-indiv:hover {
     border-color: rgb(20, 118, 252);
     text-decoration: none;
}

/* 인덱스 버튼 - 현재 페이지 */
 .gallery-index .index-list li .index-active {
     color: rgb(255, 255, 255);
     background-color: rgb(20, 118, 252);
     border-color: rgb(20, 118, 252);
     cursor: default;
 }