@charset "utf-8";

 /*------------------------------
/	footer
----------------------------------*/
/* 푸터 전체 색상, 크기 지정 */
#footer {
	height: 250px;
	background-color: #ffffff;
}

#footer * {
	color: #888888;
}

/* 내용 넓이 설정 */
#footer-content {
	width: 1180px;
	margin: auto;
}

/* 푸터 상단영역 높이, 테두리 지정 */
#top {
	height: 70px;
	border-bottom: 1px solid #ddd;
}

#top a, h1, span {
	font-size: 13px;
	color: rgb(144, 144, 144);
	display: inline-block;
}

#top .footer-top-left {
	line-height: 70px;
}

#top .footer-top-left a {
	display: inline;
	padding: 0 15px;
	color: #aaa;
	border-left: 1px solid #ddd;
}

#top .footer-top-left a:first-child {
	padding: 0 15px 0 0;
	border: none;
}

/* 푸터 하단 영역 */
#bottom {
	padding-top: 29px;
}

#buttom p {
	text-align: left;
	font-size: 12px;
	color: rgb(144, 144, 144);
	display: block;
}

#bottom .team {
	font-weight: 700;
	margin-bottom: 12px;
	color: rgb(144, 144, 144);
}

#bottom .blank {
	margin-left: 10px;
}